
:host {
  display: block;
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: #522056;
  padding: 0rem;
  font-family: 'Baloo Thambi 2', cursive;
}

:host .content {
  background-color: #F7F7F7;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: calc(100% - 2.5rem);
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host .notice{
  border-radius: 1rem;
  font-size: .8rem;
  text-rendering: optimizeLegibility;
  background-color: #fffaeb !important;
  border: solid 1px #fbf1e2 !important;
  box-shadow: 0px 4px 15px rgba(226, 226, 226, 0.77) !important;
  color: #5c5c5c !important;
}
:host .loading{
  height: 4rem;
  width: 100%;
}
:host .header .title {
  color: #373737;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

:host .header .sub-title {
  color: #96969A
}

:host .first-block, :host .second-block {
  /*padding: 1rem 1rem;*/
  margin: 1rem .75rem;
}


:host .first-block .header {
  background-color: #ededed;

  min-height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

:host .first-block .header:before {
  content: "";
  background-image: url(../../../../../assets/img/subir.svg);
  position: absolute;
  width: 100%;
  background-size: 20%;
  left: 0;
  height: 35vh;
  opacity: .3;
  background-repeat: no-repeat;
  background-position: center;
}

:host .choose ul{
  justify-content: flex-start !important;
}

:host .first-block .header .cover {
  border-radius: 2rem;
}


:host label {
  color: gray;
  margin-bottom: 0;
  font-weight: 500;
  margin-left: .5rem;
}
:host .second-block .map{
  background-image: url(../../../../../assets/img/habla-a.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20vw;
  height: 7rem;
}
:host .second-block input {
  width: 100%;
  border: 0;
  font-weight: 500;
  background: #ededed;
  border-radius: 2rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0 1rem;
}

:host .second-block textarea {
  width: 100%;
  border: 0;
  font-weight: 500;
  background: #ededed;
  border-radius: 1rem;
  min-height: 6rem;
  font-size: 1rem;
  resize: none;
  padding: 1rem;
}

.btn-primary {
  background-color: #F65163;
  border-color: #ff5d65
}


:host .over-social {
  background-color: rgba(73, 73, 73, 0.47);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9;
 display: flex;
  align-items: center;
  justify-content: center;
}

:host .over-social .in {
  margin: 4rem auto;
  text-align: center;
  background: white;
  width: 95%;
  padding: 1rem 0rem 2rem;
  border-radius: 1rem;
}

:host .over-social .in .title {
  font-weight: 500;
  color: #222;
  font-size: 1.3rem;
}

:host .over-social .in .social {
  width: 4.5rem;
}

:host .first-block .avatar img{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  box-shadow: 0 0 11px #c3c3c3;
  object-fit: cover;
}
:host .pointer{
  cursor: pointer;
}
:host .categories ul{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
:host .categories ul .item{
  background: #f7f7f7;
  min-width: 3rem;
  padding: .5rem;
  border-radius: 3rem;
  text-align: center;
  margin-right: .25rem;
  border: solid 2px #e3e3e3;
  margin-bottom: .5rem;
}
:host .categories ul .item.active{
  border: solid 2px #fdc4ca;
  box-shadow: 0 0 8px rgba(246, 139, 151, 0.57)
}
